@model IEnumerable<PryFincasCafeteras.Models.Municipio>

<h2>Municipios</h2>
<p>

    @Html.ActionLink("Agregar municipio", "AgregarMunicipio") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Agregar departamento", "AgregarDepartamento") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Agregar vereda", "AgregarVereda") &nbsp;&nbsp;&nbsp;
    <br />
    <br />

    @Html.ActionLink("Ver veredas", "Index") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Ver departamentos", "ListDepartamentos") &nbsp;&nbsp;&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
           Departamento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @PryFincasCafeteras.Controllers.LugaresController.NombreDepartamento(item.IdDepartamento)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "EliminarMunicipio", new {  id=item.Codigo })
        </td>
    </tr>
}

</table>
